# 🔑 Database Configuration
# Substitua 'user', 'password' e 'dbname' pelos valores configurados no seu docker-compose.yml
DATABASE_URL="postgresql://user:password@localhost:5432/todolist?schema=public"

# 🛡️ Auth Configuration
# Uma string aleatória e segura para assinar os tokens JWT
JWT_SECRET="sua_chave_secreta_aqui_para_desenvolvimento"

# 🌐 Server Configuration
PORT=3333
NODE_ENV="development"