services:
  db:
    image: postgres:latest
    container_name: todolist-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=docker
      - POSTGRES_DB=todolist
    ports:
      - "5432:5432"